$max-width: 1280px;
$gutter: modular-scale(1, 0.25em, $golden) !global;

$color-background: #E9E9E9;
$color-grey: #818181;
$color-black: #000000;
$color-white: #ffffff;

$color-blue: #5B7F9F;
$color-green: #136265;
$color-purple: #9A5998;
$color-light-purple: #d8c2d8;
