$max-width: 1280px;
$gutter: modular-scale(1, 0.25em, $golden) !global;

$color-background: #E9E9E9;
$color-grey: #818181;
$color-black: #000000;
$color-white: #ffffff;

$color-blue: #5B7F9F;
$color-green: #136265;
$color-purple: #9A5998;
$color-light-purple: #d8c2d8;
$color-light-blue: #d0e0f8;
$color-green: #106466;
$color-dark-green: #0f6062;
$color-dark-purple: #9e429c;

$font-size-normal: 1.4em;
$font-size-small: 1.2em;
$font-size-x-small: 1.1em;
$font-size-x-x-small: 0.9em;
$font-size-large: 1.6em;
$font-size-x-large: 1.8em;
$font-size-x-x-large: 2.2em;

@mixin font-header($weight: 300) {
  font-family: 'Raleway', 'Open Sans', 'Helvetica', 'Arial', sans-serif;
  font-weight: $weight;
}

@mixin font-body($weight: 300) {
  font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
  font-weight: $weight;
}

