/* Variables and global */
@import "application";

/* UI elements */
@import "ui/header";
@import "ui/navigation";
@import "ui/footer";

/* Sidebar */
@import "sidebar";

/* Home page */
@import "home";
@import "bxslider";

/* Our care page */
@import "our-care";

/* Our homes page */
@import "our-homes";

/* Careers page */
@import "careers";
@import "careers-apply";
@import "careers-volunteer";
@import "training-development";

/* Contact us page */
@import "contact-us";

/* Blog pages */
@import "blog";
@import "testimonials";

/* About us page */
@import "about-us";