.book-a-visit {

  @include header();

  &__left {
    @include span-columns(8);
    margin-top: 350px;
    margin-bottom: 50px;

    &__content {
      margin-bottom: 10px;

      &__title {
        @include title($color-white, $color-green);

        &.results {
          margin-top: 15px;
        }
      }

      &__box {
        background-color: $color-light-green;
        padding: 20px;
        color: $color-black;
        overflow: auto;

        li, p {
          font-size: $font-size-small;
        }

        &__left {
          float: left;
          width: 48.5%;

          input {
            margin-bottom: 20px;
          }
        }

        &__right {
          float: right;
          width: 48.5%;

          input {
            margin-bottom: 20px;
          }
        }

        &__controls {
          margin-bottom: 40px;
          clear: both;
        }

        .field-wrap {
          position: relative;
        }

        .fullWidth {
          width: 100%;
        }

          #bookAVisit_date, 
          #bookAVisit_day, 
          #bookAVisit_time,
          #bookAVisit_careHomes {
            @extend input;
            @include border-radius(0px);
            background: transparent;
            @include appearance(none);
            background: url('../images/down-arrow-green.png') no-repeat top right $color-white;
            background-size: 29px 29px;
            padding: 0 6px;
            height: 29px;
            line-height: 29px;
            border: none;
          }

          .bkv {
            display: inline;
            width: 23%;
            float: left;
          }

          .bkv:not(:first-child) {
            margin-left: 20px;
          }

          .bkv:nth-child(2) {
            margin-bottom: 0px;
            margin-top: 20px;
          }



        label {
          display: inline-block;
          font-size: $font-size-small;
          padding-bottom: 2px;

          &.error {
            color: red;
            position: absolute;
            top: 3px;
            right: 0;
          }
        }

        input {
          width: 100%;
          font-size: $font-size-small;
          display: inline;
        }

        input[type=checkbox] {
          width: auto;
          vertical-align: middle;
          position: relative;
          bottom: 1px;
        }

        .select-wrap {
          position: relative;
        }

        select {
          @extend input;
        }

        textarea {
          width: 100%;
          height: 125px;
          font-size: $font-size-small;
          padding: 6px;
        }

        input[type=submit] {
          @include button-base($color-green, -20px);
        }
      }
    }
  }

  @media(max-width:$laptop-breakpoint) {

    &__left {
      width: 100%;
      margin-top: 0px;
      margin-bottom: 0px;

      &__content__title, &__content__title.results {
        width: 100%;
        text-align: center;
      }

      &__content__box__left.field-wrap,
      &__content__box__right.field-wrap {
        width: 100%;
      }

      &__content__box .bkv {
        width: 100%;
        margin-left: 0px !important;
      }
    }

    &__header {
      background-image: none !important;
    }

    .form-wrapper {
      width: 100%;
    }
  }
}