.careers__apply {

  @include header();

  &__left {
    @include span-columns(8);
    margin-top: 350px;
    margin-bottom: 50px;

    &__title {
      color: $color-white;
      background-color: $color-purple;
      text-transform: uppercase;
      @include font-header($weight: 300);
      font-size: $font-size-x-large;
      padding: 5px 10px;
      display: inline-block;
      margin-right: -5px;
      padding-left: 18px;
      padding-right: 18px;
    }

    &__form {
      padding: 46px 10px 30px;
      margin-bottom: 20px;
      background-color: $color-light-purple;
      position: relative;

      &__title {
        @include title($color-white, $color-dark-grey);
        position: absolute;
        top: 0;
        left: 0;
      }

      &__nextbutton {
        color: $color-white;
        background-color: $color-purple;
        text-transform: uppercase;
        @include font-header($weight: 300);
        font-size: $font-size-x-large;
        display: inline-block;
        padding: 5px 80px 5px 18px;
        text-decoration: none;
        position: absolute;
        bottom: 15px;
        right: 0;
      }

      &__pagination {

      }

      & p {
        font-size: $font-size-small;
      }

      hr {
        display: block;
        clear: both;
      }

      .tab {
        &__left {
          float: left;
          width: 48.5%;
        }

        &__right {
          float: right;
          width: 48.5%;

          &--col-1-2 {
            @include span-columns(6);
          }
        }

        &__controls {
          margin-bottom: 20px;
          clear: both;
        }
        
        &__col-1-3 {
          @include span-columns(4);
          margin:0;
        }
      }

      .row {
        width: 100%;
        clear: both;
      }

      .field-wrap {
        position: relative;
        margin-bottom: 20px;

        &.half {
          width: 48.5%;
        }
      }

      label {
        display: inline-block;
        font-size: $font-size-small;
        padding-bottom: 2px;

        &.error {
          color: red;
          position: absolute;
          top: 3px;
          right: 0;
        }
      }

      .upload-button {
        label {
          display: inline-block;
          font-size: $font-size-small;
          padding-bottom: 2px;

          &.error {
            color: red;
            position: relative;
            bottom: -20px;
            left: 0px;
          }
        }
      }
      
      input {
        width: 100%;
        padding: 6px;
        font-size: $font-size-small;
        display: inline;
      }

      input[type=checkbox] {
        width: auto;
        vertical-align: middle;
        position: relative;
        bottom: -2px;
        float: left;
        margin-right: 20px;
      }

      input[type=submit] {
        color: $color-white;
        background-color: $color-purple;
        text-transform: uppercase;
        @include font-header($weight: 300);
        font-size: $font-size-x-large;
        display: inline-block;
        padding: 5px 80px 5px 18px;
        text-decoration: none;
        position: absolute;
        bottom: 15px;
        right: 0;
        width: auto;
      }

      .select-wrap {
        position: relative;
      }

      select {
        @extend input;
        -webkit-border-radius:0px;
        -moz-border-radius:0px;
        border-radius:0px;
        background: transparent;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: url('../images/buttons/arrows/down-arrow.png') no-repeat top right $color-white;
        background-size: 29px 29px;
      }

      textarea {
        width: 100%;
        height: 125px;
        font-size: $font-size-small;
        padding: 6px;
      }

    }
  }

  label[for=application_qualification_five] {
    width: 150px;

    @media(max-width:$laptop-breakpoint) {
      width: auto;
    }
  }

  label[for=application_medical_impairment_one],
  label[for=application_medical_impairment_two],
  label[for=application_medical_impairment_three] {
    width: 500px;

    @media(max-width:$laptop-breakpoint) {
      width: 200px;
    }
  }

  #application_agree_statement-error {
    left: 32px;
    top: 16px;
  }  

  @media(max-width:$laptop-breakpoint) {
    &__left, 
    &__left__title, 
    &__left__form__title, 
    .tab__left.field-wrap, 
    .tab__right.field-wrap {
      width: 100% !important;
    }

    .tab__col-1-3.field-wrap {
      width: 50% !important;
    }

    &__left {
      margin-top: 0px;
    }

    .field-wrap.half {
      width: 100%;
    }
  }

  @media(max-width:654px) {
    #application_special_experience-error {
      top: 21px;
    }

    #application_special_experience {
      margin-top: 20px;
    }

    label[for=application_keep_on_file] {
      width: 400px;
    }
  }

  @media(max-width:537px) {

    label[for=application_agree_statement],
    label[for=application_keep_on_file] {
      width: 200px;
    }

    #application_agree_statement-error {
      left: 82px;
      top: 36px;
    }

     #application_special_experience-error {
      top: 41px;
    }

    #application_recent_company_from_date-error,
    #application_recent_company_to_date-error {
      top: 21px;
    }

    #application_recent_company_from_date,
    #application_recent_company_to_date {
      margin-top: 20px;
    }

    #application_recent_company_from_date-error {
      left: 0px;
    }

    .tab__col-1-3.field-wrap {
      width: 100% !important;
    }
  }

  @media(max-width:365px) {
    #application_apply_reason,
    #application_strengths,
    #application_how_did_you_hear {
      margin-top: 20px;
    }

    #application_apply_reason-error,
    #application_strengths-error,
    #application_how_did_you_hear-error {
      top: 21px;
    }
  }
}

.application_form_fields {
  display: none;
  border: 0;
}


