.volunteer {

  @include header();

  &__left {
    @include span-columns(8);
    margin-top: 350px;
    margin-bottom: 50px;
  
    &__content {
      margin-bottom: 10px;

      &__title {
        @include title($color-white, $color-purple);

        &.results {
          margin-top: 15px;
        }
      }

      &__box {
        background-color: $color-light-purple;
        padding: 20px;
        color: $color-black;
        font-size: $font-size-small;

        &--row {
          width: 100%;

          &-pagination {
            text-align: center;

            ul {
              list-style-type: none;

              li {
                display: inline-block;

                a {
                  text-decoration: none;
                  color: $color-black;
                  padding: 2px 4px;
                }
              }
            }
          }

          & .form-wrapper {
            width: 32%;
            margin-right: 1%;
            margin-bottom: 15px;
            display: inline-block;
            position: relative;

            &:last-child {
              margin-right: 0;
            }

            h5 {
              text-transform: uppercase;
              color: $color-purple;
              font-size: 1em;
              margin: 5px 0 0;
              padding: 0;
            }

            input {
              width: 100%;
              padding: 0 6px;
              height: 29px;
              line-height: 29px;
              border: none;
            }

            .search-submit {
              font: 0/0 a;
              position: absolute;
              color: transparent;
              background-color: transparent;
              background: url('../images/right-arrow.png') no-repeat 0 0;
              background-size: cover;
              cursor: pointer;
              border: none;
              height: 29px;
              width: 29px;
              bottom: 0;
              right: 0;
            }

            select {
              @extend input;
              -webkit-border-radius:0px;
              -moz-border-radius:0px;
              border-radius:0px;
              background: transparent;
              -webkit-appearance: none;
              -moz-appearance: none;
              appearance: none;
              background: url('../images/down-arrow.png') no-repeat top right $color-white;
              background-size: 29px 29px;
            }
          }
        }

        &--result {
          width: 49%;
          display: inline-block;
          margin-bottom: 15px;
        }
      }
    }
  }
}