.home {
  @include outer-container;

  &__left {
    @include span-columns(8);
  }

  &__right {
    @include span-columns(4);
  }

  &__panel {
    background-color: $color-grey;
    color: $color-white;
    padding: 30px 15px;
    margin-bottom: $gutter;

    &-header {
      @include font-header($weight: 300);
      font-size: $font-size-x-large;
      line-height: 1.1;
      text-transform: uppercase;
      margin: 0px;
    }

    &--split {
      padding-left: 54%;
    }

    &--blue {
      background-color: $color-blue;
    }

    &--green {
      background-color: $color-green;
    }

    &--purple {
      background-color: $color-purple;
    }

    p {
      margin-top: 12px;
      margin-bottom: 24px;
      line-height: 1.4;
    }

    &.home__welcome {
      padding: 0;

      .bx-wrapper {
        border: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        margin-bottom: 0;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;

        .bxslider {
          li {
            height: 500px;
            background-repeat: no-repeat;
            background-position: top center;
            background-size: cover;
            position: relative;
          }

          &__slider-caption {
            position: absolute;
            left: 0;
            bottom: 50px;

            h1, h2 {
              text-transform: uppercase;
              padding: 3px 18px;
              font-size: 17px;
              background-color: $color-purple;
              margin: 0;
              display: table;
            }

            h2 {
              background-color: $color-blue;

              a {
                text-decoration: none;
                color: $color-white;
              }
            }
          }
        }

        .bx-controls-direction a {
          width: 34px;
          height: 44px;
        }

        .bx-prev {
          background: url('../images/home/home-controls.png') no-repeat 0 0;
          left: 15px;
        }

        .bx-next {
          background: url('../images/home/home-controls.png') no-repeat -38px 0;
          right: 15px;
        }
      }
    }
  }

  &__panels {
    @include outer-container;

    .home__panel--split {
      padding-left: 27%;
    }

    & .sidebar__panel {
      @include span-columns(6);

      a.sidebar__panel--button {
        color: $color-black;
      }
    }
  }

  &__button, &__input {
    background-color: $color-white;
    color: #000;

    padding: 7px 60px 7px 15px;

    @include font-header($weight: 300);
    text-decoration: none;
    text-transform: uppercase;
    margin-left: -15px;
  }

  &__button {
    display: inline-block;
    line-height: 1;

    &:hover {
      background-color: darken($color-white, 20%);
    }
  }

  &__find-a-home-form {
    font-size: 0px;
  }

  &__input {
    padding-right: 15px;
    width: 152px;
    display: inline-block;
    font-size: $font-size-normal;
  }

  &__search {
    width: 36px;
    height: 30px;
    background-image: url('../images/home/search-button.png');
    text-indent: -9999%;
    display: inline-block;
    font-size: $font-size-normal;
    border: none;
  }

  &__our-care-explained {
    @include span-columns(6);
  }

  &__our-care-explained {
    background-image: url('../images/home/our-care-explained.png');
    background-position: left center;
    background-repeat: no-repeat;
  }

  &__recommendations {
    a {
      color: #fff;
      font-weight: 400;
    }

    &-header {
      margin-bottom: 10px;
      @include outer-container;

      &-left {
        @include span-columns(7);
      }

      &-right {
        @include span-columns(5);
      }
    }

    &-home-name {
      @include font-header($weight: 300);
      font-size: $font-size-x-large;
      margin: 18px 0px;
    }

    &-content {
      p:last-child {
        margin-bottom: 0px;
      }
    }
  }

  &__find-a-home {
    background-image: url('../images/home/find-a-home.png');
    background-position: left center;
    background-repeat: no-repeat;
  }

  &__news {
    background-image: url('../images/home/news-and-events.png');
    background-position: left center;
    background-repeat: no-repeat;
  }

  &__work-for-us {
    background-image: url('../images/home/work-for-executive-care.png');
    background-position: left center;
    background-repeat: no-repeat;
  }

  @media (max-width:$laptop-breakpoint) {
    &__left, &__right, &__our-care-explained, &__recommendations {
      width: 100%;
    }
  }

  @media(max-width:$laptop-breakpoint) { 
    .bx-viewport, 
    &__panel.home__welcome .bx-wrapper .bxslider li {
      height: 450px !important;
    }
  }

  @media(max-width:$tablet-lrg-breakpoint) { 
    .bx-viewport, 
    &__panel.home__welcome .bx-wrapper .bxslider li {
      height: 400px !important;
    }
  }

  @media(max-width:$tablet-breakpoint) { 
    .bx-viewport, 
    &__panel.home__welcome .bx-wrapper .bxslider li {
      height: 325px !important;
    }
  }

  @media(max-width:470px) { 
    .bx-viewport, 
    &__panel.home__welcome .bx-wrapper .bxslider li {
      height: 300px !important;
    }
  }
}

#admin_carousel {
  font-size: $font-size-large;
}
