.our-care {

  &__header {
    background-image: url('../images/home/about-us_header.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    bottom: 0;
    max-height: 750px;
    max-width: 100%;
    overflow: hidden;
    left: 0;
    right: 0;
    z-index: -1;
  }

  @media(max-width:$laptop-breakpoint) {
    &__header {
      background-image: none !important;
    }

    &__left {
      margin-bottom: 10px !important;
    }
  }

  &__left {
    @include span-columns(8);
    margin-top: 350px;
    margin-bottom: 50px;

    &__content {
      margin-bottom: 10px;

      &__title {
        background-color: $color-blue;
        @include font-header($weight: 300);
        font-size: $font-size-large;
        padding: 6px 20px;
        display: inline-block;
        color: $color-white;
        text-transform: uppercase;
      }

      &__box {
        background-color: $color-light-blue;
        padding: 20px;
        color: $color-black;
        font-size: $font-size-small;
      }
    }
    @include sliding-content($color-blue, $color-blue, $color-blue, $color-light-blue);

    &__sliding__content.slide {
      font-size: 14px;
    }

  }

  &__right {
    @include span-columns(4);
    margin-top: 387px;
    margin-bottom: 50px;

    &__boxes {
      color: $color-white;
      margin-bottom: 10px;
      min-height: 210px;
      overflow: hidden;

      &__content {
        margin-left: 175px;
        padding-left: 10px;
        margin-bottom: 15px;
        margin-right: 20px;
        float: left;
        font-size: $font-size-small;
      }

      &__title {
        color: $color-white;
        padding: 10px;
        @include font-header($weight: 300);
        text-transform: uppercase;
        font-size: $font-size-x-large;
        line-height: 22px;
        padding-left: 10px;
        margin-left: 175px;
        margin-top: 5px;
        float: left;
      }

      &__button {
        margin-left: 175px;
        background-color: $color-white;
        @include font-header($weight: 300);
        font-size: $font-size-normal;
        padding: 5px 0px 5px 10px;
        margin-bottom: 20px;
        float: left;
        width: 150px;
        text-transform: uppercase;
        text-decoration: none;
        color: $color-grey;

        a {
          text-decoration: none;
        }

        .find-a-home & {
          color: $color-dark-green;
          box-sizing: border-box;
        }
      }

      & .full-width-panel {
          margin-left: 10px;
      }
    }

    & .find-a-home {
      background-image: url('../images/home/find-a-home.png');
      background-repeat: no-repeat;
      background-position: -35px 0px;
      background-color: $color-dark-green;
    }

    & .open-days {
      background-image: url('../images/home/open-days.png');
      background-repeat: no-repeat;
      background-position: -33px 0px;
      background-color: $color-dark-purple;
    }

    & .book-a-visit {
      background-color: $color-dark-green;
    }

    & .recommendation {
      background-color: $color-blue;

      a {
        color: $color-white;
      }
        
      .recommendations-logo {
        width: 58%;
        display: inline;
        margin: 15px 5px 0 20px;
      }

      .recommendations-logo-copy {
        width: 40%;
        display: inline-block;
        margin: 15px 20px 0 15px;
        font-size: $font-size-small;
        line-height: 14px;
      }
    }
  }

  // Responive Mobile 

  @media(max-width: $laptop-breakpoint) {
    
    &__right {
      width: 100%;
      margin-top: -40px;
    }

    &__left{
      width:100%;
      margin-top: 0px;
    }

    &__left__content__title{
      width:100%;
      text-align: center;
    }
  }

  @media(max-width: $tablet-breakpoint) {

    .title1 {
      width: 210px;
      top: 50%;
      position: absolute;
      transform: translateY(-50%)
    }

    &__left__sliding:last-child .our-care__left__sliding__title .title1 {
      margin-top: 0px;
    }

    &__left__sliding__title__show-hide {
      padding: 18px 6px;
      margin-top: -6px;
      font-size: 2.0em;
      text-align: center;
      width: 84px;

     }

    &__left__sliding__title {
      min-height: 85px;
      position: relative;
      resize: vertical;
    }
  }

  @media(max-width: 390px) {

    .title1 {
      width: 165px;
    }

    &__left__sliding__title__show-hide {
      padding: 18px 6px;
    }

    &__left__sliding__title {
      min-height: 85px;
    }
  }
}