.our-homes {
  @include outer-container;

  @include header();

  &__left {
    @include span-columns(8);
    margin-top: 350px;
    margin-bottom: 50px;

    &__title {
      @include title($color-white, $color-green);

      @media(max-width: $tablet-breakpoint) {
        display: none;
      }
    }

    &--search {
      position: relative;
      width: 46.5%;
      margin-bottom: 20px;

      input[type=search] {
        width: 100%;
        padding: 6px;
        font-size: 1.2em;
      }

      .search-submit {
        position: absolute;
        top: 0;
        right: -15px;
        background: url('../images/arrow-submit.png') no-repeat 0 0;
        background-size: cover;
        border: none;
        cursor: pointer;
        font: 0/0 a;
        height: 33px;
        width: 35px;
      }
    }

    &__content {
      background-color: $color-light-green;
      color: $color-green;
      overflow: auto;

      p {
        font-size: 1.2em;
      }

      &--ratings-row {
        @include span-columns(12);
        @include omega(1);

        & .description {
          display: inline-block;
          width: 83%;
          vertical-align: top;
          margin-bottom: 10px;
        }

        & .date {
          display: inline-block;
          background-color: $color-grey;
          padding: .7em 1.7em;
          color: $color-white;
          font-size: 1.1em;
          margin-left: -20px;

          &.uppercase {
            text-transform: uppercase;
          }
        }

        .author {
          @include title($color-white, $color-green);
          margin-left: -20px;
          font-size: $font-size-normal;
        }

        &-pagination {
          text-align: center;

          ul {
            list-style-type: none;

            li {
              display: inline-block;

              a {
                text-decoration: none;
                color: $color-black;
                padding: 2px 4px;
              }
            }
          }
        }
      }

      &__homes-box {
        background-color: $color-green;
        color: $color-white;
        width: 47.5%;
        display: inline-block;
        margin-bottom: 10px;
        float: left;

        &:nth-child(even) {
          margin-left: 2%;
          margin-right: 10px;
        }

        &--image {
          float: left;
          display: block;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          width: 50%;
          height: 230px;
        }

        &__image {
          float: left;
        }

        &__info {
          display: inline-block;
          position: relative;
          min-height: 230px;
          width: 39%;

          &__title {
            @include font-header($weight: 300);
            font-size: $font-size-large;
            display: inline-block;
            color: $color-white;
            text-transform: uppercase;
            padding: 15px 10px 0;
          }

          &__distance {
            padding: 5px 10px;
            font-size: $font-size-small;
          }

          &__address {
            padding-left: 10px;
            font-size: $font-size-normal;
          }

          &__find-out-more {
            color: $color-green;
            font-size: $font-size-normal;
            @include font-header($weight: 300);
            display:  inline-block;
            background-color: $color-white;
            padding: 2px 10px;
            position: absolute;
            bottom: 10px;

            a {
              text-transform: uppercase;
              text-decoration: none;
              color: $color-green;
            }
          }
        }
      }

      &__box {
        padding: 10px 20px;
      }

      &__headerimage {
        width: 100%;
        max-height: 200px;
      }
    }

    .pagination a {
      color: black;
    }

    &--pagination {
      text-align: right;
      clear: both;

      ul {
        list-style-type: none;
        float: right;
        display: block;
        margin-right: 15px;
        margin-top: 0px;

        li {
          display: inline-block;
          padding: 2px 7px;

          a {
            text-decoration: none;
            color: $color-green;
          }
        }
      }
    }

    @include sliding-content($color-green, $color-green, $color-green, $color-light-green);

    &__nearby {
      padding: 20px;
      background-color: $color-light-green;
      display: block;

      @media(max-width: $tablet-breakpoint) {
        display: none;
      }

      .bx-wrapper {
        background: transparent;
        border: none;
        box-shadow: none;
        margin-bottom: 0;

        .slide {
          background-color: $color-green;
          display: inline-block !important;
          margin-right: 15px;
          overflow: hidden;
          height: 150px;

          img {
            max-width: 40%;
            float: left;
            height: 100%;
          }

          &--home-details{
            display: inline-block;
            width: 58%;
            padding-left: 10px;
            vertical-align: top;
            font-size: $font-size-small;
            color: $color-white;

            h3 {
              padding: 10px 10px 0 0;
              @include font-header($weight: 300);
              text-transform: uppercase;
              font-size: $font-size-large;
              margin: 0;
            }

            a {
              color: $color-green;
              background-color: $color-white;
              @include font-header($weight: 300);
              font-size: $font-size-small;
              padding: 5px 10px;
              text-transform: uppercase;
              text-decoration: none;
              margin-left: -10px;
              padding-left: 10px;
            }
          }
        }

        .bx-controls-direction {

          a {
            width: 20px;
            height: 26px;
          }
        }

        .bx-prev {
          background: url('../images/slider-controls.png') no-repeat 0 0;
          background-size: auto 100%;
          left: -25px;
        }

        .bx-next {
          background: url('../images/slider-controls.png') no-repeat -27px 0;
          background-size: auto 100%;
          right: -25px;
        }
      }

      .nearby-homes-slider {
        height: 190px;
      }
    }
  }

  @media(max-width:1005px) {
    &__left {
      width: 100%;

      &--search {
        width: 96%;
      }
    }

    &__header {
      background-image: none !important;
    }

    &__left__content__homes-box {
      width: 100%;

      &:nth-child(even) {
        margin-left: 0px;
      }

      &__info__find-out-more {
        font-size: 1.4em;
      }

      &--image {
        width: 30%;
      }
    }

    &__left__title {
      width: 100%;
      text-align: center;
    }

    &__left {
      margin-top: 0px;
      margin-bottom: 0px !important;
    }
  }

  @media(max-width:$desktop-breakpoint) {
    &__left__content__homes-box__info__find-out-more{
      font-size: 1.1em;
    }
  }

  @media(max-width:371px) {
    &__left__content__homes-box__info__title {
      font-size: 1.5em;
    }

    &__left__content__homes-box__info__address {
      font-size: 1.3em;
    }
  }

  @media(max-width: $tablet-breakpoint) {

    .title1 {
      width: 210px;
      top: 50%;
      position: absolute;
      transform: translateY(-50%)
    }

    &__left__sliding:last-child .our-care__left__sliding__title .title1 {
      margin-top: 0px;
    }

    &__left__sliding__title__show-hide {
      padding: 18px 6px;
      margin-top: -6px;
    }

    &__left__sliding__title {
      min-height: 61px;
      position: relative;
      resize: vertical;
    }

    &__left__content__homes-box {

      &--image {
        width: 45%;
      }

      &__info__find-out-more {
        font-size: 1.1em;
        padding: 3px;
      }
    }
  }

  @media(max-width: 390px) {

    .title1 {
      width: 165px;
    }

    &__left__sliding__title__show-hide {
      padding: 30px 6px;
    }

    &__left__sliding__title {
      min-height: 85px;
    }
  }

  @media(max-width:344px) {

    &__left__sliding__title {
      min-height: 109px;
    }

    &__left__sliding__title__show-hide {
      padding: 42px 6px;
    }

    .title1 {
      width: 164px;
    }
  }
}

@media(max-width:1005px) {
  .our-homes {
    margin-bottom: -15px !important;

    &__left {
    margin-bottom: -10px !important;
    }
  }
}

.gallery {
  text-align: center;
  & a {
    text-decoration: none;
  }

  & img {
    border: 0;
  }
}

.recommendation-logo {
  display: block;
  width: 100%;

  img {
    float: none;
  }
}
