.sidebar {
  @include span-columns(4);
  margin-top: 386px;
  margin-bottom: 50px;

  &.home {
    margin-top: 0;
  }

  @media(max-width: $tablet-breakpoint) {
    input[type="search"] {
      width: 65%;
      -webkit-appearance: none;
      -webkit-border-radius:0;
      border-radius: 0;
    }
  }

  .map {
    height: 410px;
    width: 50%;
    border-left: 2px solid $color-dark-green;
    border-right: 2px solid $color-dark-green;
    position: relative;
  }

  @media (max-width:$laptop-breakpoint) {
    &.home {
      width:100%;
    }

    &.blog {
      margin-top: 10px !important;
    }
  }

  &.blog {
    margin-top: 87px;
  }

  &.contact {
    margin-top: 37px;
  }

  & .map-container {
    background-color: $color-green;
    width: 100%;
    margin-bottom: 10px;
    overflow: auto;
    
    #careHomeMap {
      float: left;
      width: 40%;
      display: inline-block;

      @media (max-width: $laptop-breakpoint) {
        width: 146px;
      }
    }

    .address {
      width: 59%;
      padding: 0 10px 0;
      font-size: $font-size-small;
      display: inline-block;
      vertical-align: top;
      color: $color-white;
      float: left;

      h2 {
        padding: 10px 10px 0 0;
        @include font-header($weight: 300);
        text-transform: uppercase;
        font-size: $font-size-large;
        margin: 0;
      }

      a {
        color: $color-green;
        background-color: $color-white;
        @include font-header($weight: 300);
        font-size: $font-size-small;
        padding: 5px 10px;
        text-transform: uppercase;
        text-decoration: none;
        margin-left: -10px;
        padding-left: 10px;
      }
    }
  }

  input {
    border: none;
    margin-bottom: 10px;
    padding: 0 6px;
    height: 30px;
    line-height: 30px;
    width: 100%;
    color: $color-black;
  }

  &__panel {
    color: $color-white;
    margin-bottom: 10px;

    &--homeinfo-content {
      display: inline-block;
      position: relative;
      min-height: 230px;
      width: 39%;
      padding: 0 10px 10px;
    }

    &--content {
      padding: 0 10px 10px;
      margin-bottom: 15px;
      font-size: $font-size-small;
      display: inline-block;
      vertical-align: top;

      p {
        margin-bottom: 20px;
      }

      h3 {
        color: $color-white;
        padding: 10px 10px 0 0;
        @include font-header($weight: 300);
        text-transform: uppercase;
        font-size: $font-size-large;
        margin: 0;
      }

      h4 {
        font-size: $font-size-normal;
        margin-bottom: 0;
      }
    }

    &--button {
      background-color: $color-white;
      @include font-header($weight: 300);
      font-size: $font-size-small;
      padding: 5px 10px;
      text-transform: uppercase;
      text-decoration: none;

      &.right {
        margin-left: 0;
      }

      &.mleft {
        margin-left: -10px;
        padding-left: 10px;
      }
    }

    &--volunteer {
      @include sidebar-panels($color-grey);

      &-image {
        @include sidebar-image();
      }

      a.sidebar__panel--button {
        display: block;
        width: 150px;
      }

      @media (max-width: $laptop-breakpoint) {
        &-image {
          width: 146px;
        }
      }

      @media (max-width: 400px) {
        &-image {
          width: 40%;
        }
      }

      a.sidebar__panel--button {
        color: $color-grey;
      }
    }

    &--work-for-us {
      @include sidebar-panels($color-dark-purple);

      &-image {
        @include sidebar-image();
      }

      @media (max-width: $laptop-breakpoint) {
        &-image {
          width: 146px;
        }
      }
      
      @media (max-width: 400px) {
        &-image {
          width: 40%;
        }
      }

      a.sidebar__panel--button {
        color: $color-dark-purple;
        display: block;
        width: 150px;
      }
    }

    &--find-a-home {
      @include sidebar-panels($color-dark-green);

      &-image {
        @include sidebar-image();
      }

      & .sidebar__panel--button {
        color: $color-dark-green;
        width: 134px;
      }

      ::-webkit-input-placeholder {
        color: $color-dark-green;
      }

      :-moz-placeholder { /* Firefox 18- */
        color: $color-dark-green;
      }

      ::-moz-placeholder {  /* Firefox 19+ */
        color: $color-dark-green;
      }

      :-ms-input-placeholder {
        color: $color-dark-green;
      }

      @media (max-width: $laptop-breakpoint) {
        &-image {
          width: 146px;
        }
      }

      .sidebar__panel--content {
        position: relative;
      }

      .search-submit {
        position: absolute;
        background: url('../images/buttons/arrows/search-arrow-grey.png') no-repeat 0 0;
        background-size: cover;
        border: none;
        cursor: pointer;
        font: 0/0 a;
        height: 30px;
        width: 30px;
      }
    }

    &--visit {
      background-color: $color-dark-green;

      & .visit-btn {
        float: left;
        width: 60%;
        margin-left: -15px;

        & .sidebar__panel--button {
          display: block;
          width: 150px;
          color: $color-dark-green;
        }
      }
    }

    &--contact-us {
      @include sidebar-panels($color-purple);

      &-image {
        @include sidebar-image();
      }

      @media (max-width: $laptop-breakpoint) {
        &-image {
          width: 146px;
        }
      }

      @media (max-width: 400px) {
        &-image {
          width: 40%;
        }
      }

      a.sidebar__panel--button {
        color: $color-purple;
        display: block;
        width: 150px;
      }
    }

    &--news-and-events {
      @include sidebar-panels($color-grey);

      &-image {
        @include sidebar-image();
      }

      a.sidebar__panel--button {
        display: block;
        width: 150px;
      }

      @media (max-width: $laptop-breakpoint) {
        &-image {
          width: 146px;
        }
      }

      @media (max-width: 400px) {
        &-image {
          width: 40%;
        }
      }

      a.sidebar__panel--button {
        color: $color-grey;
      }
    }

    &--care-explained {
      @include sidebar-panels($color-dark-green);

      &-image {
        @include sidebar-image();
      }

      a.sidebar__panel--button {
        display: block;
        width: 150px;
      }

      @media (max-width: $laptop-breakpoint) {
        &-image {
          width: 146px;
        }
      }

      @media (max-width: 400px) {
        &-image {
          width: 40%;
        }
      }

      a.sidebar__panel--button {
        color: $color-dark-green;
      }
    }

    &--care-explained {
      @include sidebar-panels($color-dark-green);

      &-image {
        @include sidebar-image();
      }

      @media (max-width: $laptop-breakpoint) {
        &-image {
          width: 146px;
        }
      }

      @media (max-width: 400px) {
        &-image {
          width: 40%;
        }
      }

      a.sidebar__panel--button {
        color: $color-dark-green;
      }
    }

    &--open-days {
      @include sidebar-panels($color-dark-purple);

      &-image {
        @include sidebar-image();
      }

      @media (max-width: $laptop-breakpoint) {
        &-image {
          width: 146px;
        }
      }

      @media (max-width: 400px) {
        &-image {
          width: 40%;
        }
      }

      a.sidebar__panel--button {
        color: $color-dark-purple;
        display: block;
        width: 150px;
      }
    }

    &--our-homes-find-a-home {
      @include sidebar-panels($color-dark-green);

      &-details {
        display: table;
        width: 100%;
      }

      &-image {
        float: left;
        display: block;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 40%;
        height: 230px;
      }

      & .sidebar__panel--button.mleft {
          color: $color-dark-green;
          width: 150px;
          display: block;
        }

      @media (max-width: $laptop-breakpoint) {
        &-image {
          width: 146px;
        }
      }

      @media (max-width: 400px) {
        &-image {
          width: 40%;
        }
      }

      &-title {

        h2 {
          text-transform: uppercase;
          font-size: $font-size-x-large;
          @include font-header($weight: 300);
          margin: 0;
          padding: 5px 10px;
        }
      }

      & .map {
        height: 410px;
        width: 100%;
        border-left: 2px solid $color-dark-green;
        border-right: 2px solid $color-dark-green;
        position: relative;

        a {
          position: absolute;
          left: 0;
          bottom: 30px;
          background-color: $color-white;
          padding: 3px 8px;
          text-transform: uppercase;
          text-decoration: none;
          font-size: $font-size-normal;
        }

        & .arrow {
          background: url('../images/buttons/arrows/green-arrow.png') no-repeat 0 0;
          height: 32px;
          width: 30px;
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          margin: 0 auto;
        }

        img {
          width: 100%;
          height: auto;
        }
      }
    }

    &--recommendation {
      background-color: $color-blue;

      a {
        color: $color-white;
      }

      img {
        margin-top: 15px;
        float: left;

        @media only screen and (min-width: 961px) and (max-width: 1120px) {
          width: 140px;
          height: auto;
        }
      }

      .rec-text {
        float: right;
        width: 130px;
        margin-top: 12px;
        font-size: 11px;
      }

      .recommendations-logo {
        width: 58%;
        display: inline;
        padding: 15px 5px 0 15px;
      }

      .recommendations-logo-copy {
        width: 40%;
        display: inline-block;
        padding: 15px 15px 0 10px;
        font-size: $font-size-small;
        line-height: 14px;
      }

      h3 {
        font-size: 1.4em;
        line-height: 1.4em;
      }

      p {
        margin-bottom: 12px;
      }

      small {
        line-height: 1em;
      }
    }

    &--training {
      @include sidebar-panels($color-blue);

      &-image {
        @include sidebar-image();
      }

      a.sidebar__panel--button {
        display: block;
        width: 150px;
      }

      @media (max-width: $laptop-breakpoint) {
        &-image {
          width: 146px;
        }
      }

      @media (max-width: 400px) {
        &-image {
          width: 40%;
        }
      }

      a.sidebar__panel--button {
        color: $color-blue;
      }
    }

    .full-width-panel {
      padding: 0 15px;
      width: 100%;
    }
  }

  &__buttons {
    width: 100%;
    height: 55px;
    margin-bottom: 10px;
    letter-spacing: 2px;

    a {
      color: $color-white;
      text-indent: 90px;
      text-transform: uppercase;
      text-decoration: none;
      display: block;
      font-size: 1.7em;
      line-height: 55px;
    }

    &.applyonline {
      background: url('../images/buttons/icons/apply-icon.png') $color-purple no-repeat 22px 8px;
    }

    &.download {
      background: url('../images/buttons/icons/download-icon.png') $color-purple no-repeat 22px 8px;
    }

    &.get-in-touch {
      background: url('../images/buttons/icons/get-in-touch-icon.png') $color-purple no-repeat 15px 5px;
    }

    &.request-brochure {
      background: url('../images/buttons/icons/document-icon.png') $color-blue no-repeat 15px 5px;
    }

    &.vacancies {
      background: url('../images/buttons/icons/contact-icon.png') $color-purple no-repeat 15px 5px;
    }
  }

  &__job-alerts {
    background-color: $color-blue;
    padding: 18px 18px 40px;
    position: relative;
    font-size: 1.2em;

    h5 {
      text-transform: uppercase;
      color: $color-white;
      margin: 0 0 10px;
      font-size: 1.7em;
    }

    input {
      background-color: $color-light-blue;
    }

    select {
      @extend input;
      @include border-radius(0px);
      background: transparent;
      @include appearance(none);
      background: url('../images/buttons/arrows/white-blue-arrow.png') no-repeat top right $color-light-blue;
    }

    .signup-btn {
      background-color: $color-white;
      border: none;
      position: absolute;
      right: 0;
      bottom: 15px;
      text-transform: uppercase;
      padding: 4px 60px 4px 10px;
    }
  }
}

@media (max-width: $laptop-breakpoint) {
  .sidebar {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 15px;

    &__panel {
      width: 100% !important;

    &--our-homes-find-a-home {
        display: none;
      }
    }

    .sidebar__panel:last-child {
      margin-bottom: 0px !important;
    }
  }
}

.book-a-visit {
  margin-top: 36px;
}
