.testimonials {

  @include blog-slider();

  @include blog-left();

  @include tab-ul();

  @include blog-header();

  .tabs {
    @include tabs();

    li {
      @include tabs-li();

      a {
        @include tabs-li-a($color-transparent);
      }
    }
  }

  .tab {
    @include tab();
  }

  &__content {
    background-color: $color-light-purple;
    overflow: auto;

    &--date {
      display: inline-block;
      background-color: $color-grey;
      padding: .7em 1.7em;
      color: $color-white;
      font-size: 1.3em;

      &.uppercase {
        text-transform: uppercase;
      }
    }

    @include blog-article();

    &__item {
      overflow: hidden;
      padding: 1.8em 0;
      border-top: 1px solid $color-grey;

      &:first-of-type {
        border-top: none;
      }

      &--image {
        @include span-columns(12);

        @media(min-width:$laptop-breakpoint) {
          @include span-columns(3);
        }

        img {
          width: 100%;
          height: auto;
        }
      }

      &--summary {
        @include span-columns(12);

        @media(min-width:$laptop-breakpoint) {
          @include span-columns(9);
          margin-right: 0;
        }

        &--title {
          @include blog-title($color-blue)
        }

        &--name {
          display: table;
          background-color: $color-purple;
          padding: .5em 1.6em;
          color: $color-white;
          text-transform: uppercase;
          font-size: 1.3em;
        }

        @include blog-date();

        &-text {
          clear: both;
          padding-top: .8em;
          font-size: 1.1em;
          overflow: auto;

          &-link {
            padding-top: 10px;

            @media(min-width:$laptop-breakpoint) {
              display: none;
            }
          
            a.read-more {
              padding: 5px 10px;
              background-color: $color-white;
              display: inline-block;
              float: right;
              text-transform: uppercase;
              @include font-header($weight: 300);
              text-decoration: none;
              color: $color-blue;
            }
          }
        }
      }
    }

    @include blog-pagination();
  }
}