.training-development {

  @include header();

  &__left {
    @include span-columns(8);
    margin-top: 350px;
    margin-bottom: 50px;
  }

  @include tab-ul();

  .tabs {
    @include tabs();

    li {

      @include tabs-li();

      a {
        @include tabs-li-a($color-grey);

        &.active {
          background-color: $color-purple;
          color: $color-white;
        }
      }
    }
  }

  .tab {
    @include tab();
    background: $color-light-purple;
  }

  @media(max-width:$laptop-breakpoint) {
    &__header {
      background-image: none !important;
    }

    &__left {
      width: 100%;
      margin-top: 0px;
      margin-bottom: 10px;

      #training_tab, #development_tab {
        width: 50%;
        text-align: center;
      }
    }
  }

  @media(max-width:400px) {
    .tabs {
      font-size: 1.3em;
    }
  }
}
