.training-development {
  &__header {
    background-image: url('../images/home/about-us_header.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    bottom: 0;
    max-height: 750px;
    max-width: 100%;
    overflow: hidden;
    left: 0;
    right: 0;
    z-index: -1;

  }

  &__left {
    @include span-columns(8);
    margin-top: 350px;
    margin-bottom: 50px;
  }

  @include tab-ul();

  .tabs {
    @include tabs();

    li {

      @include tabs-li();

      a {
        @include tabs-li-a($color-grey);

        &.active {
          background-color: $color-blue;
          color: $color-white;
        }
      }
    }
  }

  .tab {
    @include tab();
    background: $color-light-blue;
    color: $color-blue;
  }
}
