.careers__apply {

  &__left {
    @include span-columns(8);

    &__title {
      color: $color-white;
      background-color: $color-purple;
      text-transform: uppercase;
      @include font-header($weight: 300);
      font-size: $font-size-x-large;
      padding: 5px 10px;
      display: inline-block;
      margin-right: -5px;
      padding-left: 18px;
      padding-right: 18px;
    }

    &__form {
      padding-bottom: 20px;
      margin-bottom: 20px;
      background-color: $color-light-purple;

      &__title {
        background-color: #777777;
        display: inline-block;
        text-transform: uppercase;
        @include font-header($weight: 300);
        font-size: $font-size-x-large;
        padding: 5px 10px;
        color: $color-white;
        text-decoration: none;
        margin-right: -5px;
        padding-left: 18px;
        padding-right: 18px;

      }

      &__nextbutton {
        color: $color-white;
        background-color: $color-purple;
        text-transform: uppercase;
        @include font-header($weight: 300);
        font-size: $font-size-x-large;
        display: inline-block;
        padding: 5px 18px;
        float: right;
        text-decoration: none;
      }

      &__pagination {

      }

      & p {
        padding: 24px;
      }
    }
  }

  &__right {
    @include span-columns(4);

  }
}

.application_form_fields {
  display: none;
  border: 0;
}

