.careers {

  &__header {
    background-image: url('../images/home/about-us_header.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    bottom: 0;
    max-height: 750px;
    max-width: 100%;
    overflow: hidden;
    left: 0;
    right: 0;
    z-index: -1;
  }

  &__left {
    @include span-columns(8);
    margin-top: 350px;
    margin-bottom: 50px;
  
    &__content {
      margin-bottom: 10px;

      h2 {
        background-color: $color-purple;
        margin-left: -20px;
        padding: 4px 20px;
        display: inline-block;
        text-transform: uppercase;
        color: $color-white;
        font-size: $font-size-small;
        @include font-header($weight: 300);
      }

      h3, h4 {
        color: $color-dark-purple;
        font-weight: bold;
        font-size: $font-size-x-small;
        margin: 12px 0 4px 0;
      }

      ul {
        list-style: none;
        padding:0;
        margin:0;

        li { 
          padding-left: 1em; 
          text-indent: -.8em;

          &:before {
            content: "• ";
            color: $color-dark-purple;
          }
        }
      }

      &__title {
        background-color: $color-purple;
        @include font-header($weight: 300);
        font-size: $font-size-large;
        padding: 6px 20px;
        display: inline-block;
        color: $color-white;
        text-transform: uppercase;

        &.results {
          margin-top: 15px;
        }
      }

      &__box {
        background-color: $color-light-purple;
        padding: 20px;
        color: $color-black;
        font-size: $font-size-small;

        &--responsibilities {

          p {
            counter-increment: step-counter;
            margin: 0;

            &:before {
              content: counter(step-counter) ". ";
              margin-right: 5px;
            }
          }
        }

        &--row {
          width: 100%;

          .details-title {
            display: inline-block;
            width: 15%;
            vertical-align: top;
            color: $color-dark-purple;
            font-weight: bold;
          }

          .details {
            display: inline-block;
            width: 83%;
            vertical-align: top;
            margin-bottom: 10px;
          }

          &-pagination {
            text-align: center;

            ul {
              list-style-type: none;

              li {
                display: inline-block;

                a {
                  text-decoration: none;
                  color: $color-black;
                  padding: 2px 4px;
                }
              }
            }
          }

          & .form-wrapper {
            width: 32%;
            margin-right: 1%;
            margin-bottom: 15px;
            display: inline-block;
            position: relative;

            &:last-child {
              margin-right: 0;
            }

            h5 {
              text-transform: uppercase;
              color: $color-purple;
              font-size: 1em;
              margin: 5px 0 0;
              padding: 0;
            }

            input {
              width: 100%;
              padding: 0 6px;
              height: 29px;
              line-height: 29px;
              border: none;
            }

            .search-submit {
              font: 0/0 a;
              position: absolute;
              color: transparent;
              background-color: transparent;
              background: url('../images/right-arrow.png') no-repeat 0 0;
              background-size: cover;
              cursor: pointer;
              border: none;
              height: 29px;
              width: 29px;
              bottom: 0;
              right: 0;
            }

            select {
              @extend input;
              -webkit-border-radius:0px;
              -moz-border-radius:0px;
              border-radius:0px;
              background: transparent;
              -webkit-appearance: none;
              -moz-appearance: none;
              appearance: none;
              background: url('../images/down-arrow.png') no-repeat top right $color-white;
              background-size: 29px 29px;
            }
          }
        }

        &--result {
          width: 49%;
          display: inline-block;
          margin-bottom: 15px;
        }
      }

      &--button { 
        margin-top: 10px;
        width: 49.3%;
        height: 55px;
        display: inline-block;

        &:nth-child(even) {
          margin-left: 1%;
        }

        a {
          color: $color-white;
          text-indent: 60px;
          text-transform: uppercase;
          text-decoration: none;
          display: block;
          font-size: 1.7em;
          line-height: 55px;
          background: url('../images/button-icon.png') $color-purple no-repeat 15px 5px;
        }
      }
    }
  }
}