.contact-us {
    @include outer-container;

    &__left {
        @include span-columns(8);
    }

    &__right {
        @include span-columns(4);
    }

    ul {
        &.tabs {
            margin:0;
            padding: 0 !important;
        }
    }

    .tabs {
        display: block;
        text-transform: uppercase;
        font-family: "Raleway", sans-serif;
        font-size: 18px;

        li {
            list-style:none;
            display:inline;
            a {
                padding:5px 10px;
                display:inline-block;
                color:$color-white;
                text-decoration:none;
                margin-right: -5px;
                padding-left:  18px;
                padding-right: 18px;

                &#enquiry_tab {
                    background-color: $color-purple;
                }

                &#brochure_tab {
                    background-color: $color-blue;
                }
            }
        }
    }

    .tab {
        padding: 24px;

        &__left {
            float:left;
            width:48.5%;

            input {
                margin-bottom: 24px;
            }
        }

        &__right {
            float: right;
            width:48.5%;

            input {
                margin-bottom: 24px;
            }
        }

        &__controls {
            margin-bottom: 40px;
            padding-top: 24px;
        }

        label {
            display: inline-block;
            font-size:  12px;
        }
        input {
            width: 100%;
            height: 24px;
            display: inline;
        }

        input[type=checkbox] {
            width:auto;
        }

        select {
            @extend input;
        }

        #message {
            width: 100%;
            height: 125px;
        }
        .submit_base {
            width: 174px;
            text-transform: uppercase;
            font-family: "Raleway", sans-serif;
            font-size: 18px;
            border: 0;
            float: right;
            color: $color-white;
            margin-top: 24px;
            position: relative;
            right:-24px;
        }

        &#brochure {
            background:  $color-light-blue;

            & input[type=submit] {
                @extend .submit_base;
                background-color: $color-blue;
            }
        }

        &#enquiry {
            background-color: $color-light-purple;

            & input[type=submit] {
                @extend .submit_base;
                background-color: $color-purple;
            }
        }
    }
}
