.our-homes {
  @include outer-container;

  &__left {
    @include span-columns(8);

    &__title {
      background-color: $color-green;
      @include font-header($weight: 300);
      font-size: $font-size-large;
      padding: 6px 20px;
      display: inline-block;
      color: $color-white;
      text-transform: uppercase;
    }

    &__content {
      background-color: $color-light-green;
      color: $color-green;
      padding: 24px;

      input[type=search] {
        margin-bottom: 16px;
      }

      &__homes-box-left {
        background-color: $color-green;
        color: $color-white;
        width: 49%;
        float: left;

        &__image {
          float: left;
        }

        &__info {
          float: left;
          clear: right;
          display: inline-block;

          &__title {
            @include font-header($weight: 300);
            font-size: $font-size-large;
            display: inline-block;
            color: $color-white;
            text-transform: uppercase;
            padding-left: 10px;
          }

          &__distance {
            padding-left: 10px;
            font-size: $font-size-small;
          }

          &__address {
            padding-left: 10px;
            font-size: $font-size-normal;
          }
        }

        &__find-out-more {
          color: $color-green;
          font-size: $font-size-normal;
          @include font-header($weight: 300);
          display:  inline-block;
          background-color: $color-white;
          padding: 2px 16px 2px 10px;
        }
      }

      &__homes-box-right {
        background-color: $color-green;
        color: $color-white;
        width: 49%;
        float: right;

        &__image {
          float: left;
        }

        &__info {
          float: left;
          clear: right;
          display: inline-block;

          &__title {
            @include font-header($weight: 300);
            font-size: $font-size-large;
            display: inline-block;
            color: $color-white;
            text-transform: uppercase;
            padding-left: 10px;
          }

          &__distance {
            padding-left: 10px;
            font-size: $font-size-small;
          }

          &__address {
            padding-left: 10px;
            font-size: $font-size-normal;
          }
        }

        &__find-out-more {
          color: $color-green;
          font-size: $font-size-normal;
          @include font-header($weight: 300);
          display:  inline-block;
          background-color: $color-white;
          padding: 2px 16px 2px 10px;
        }
      }
    }
  }

  &__right {
    @include span-columns(4);
    margin: 0;
  }
}