.our-care {

  &__header {
    background-image: url('../images/home/about-us_header.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    bottom: 0;
    max-height: 750px;
    max-width: 100%;
    overflow: hidden;
    left: 0;
    right: 0;
    z-index: -1;
  }

  &__left {
    @include span-columns(8);
    margin-top: 350px;
    margin-bottom: 50px;

    &__content {
      margin-bottom: 10px;

      &__title {
        background-color: $color-blue;
        @include font-header($weight: 300);
        font-size: $font-size-large;
        padding: 6px 20px;
        display: inline-block;
        color: $color-white;
        text-transform: uppercase;
      }

      &__box {
        background-color: $color-light-blue;
        padding: 20px;
        color: $color-black;
        font-size: $font-size-small;
      }
    }
    
    &__sliding {

      &__title {
        @include font-header($weight: 300);
        font-size: $font-size-large;
        color: white;
        background-color: $color-blue;
        padding: 6px 0px 6px 20px;
        border-top: 1px solid $color-background;
        text-transform: uppercase;
        cursor: pointer;

        &__show-hide {
          background-color: white;
          color: $color-blue;
          float: right;
          padding: 6px;
          margin-top: -6px;
          width: 130px;
          text-align: left;

          & a {
            text-decoration: none;
            color: $color-blue;
          }
        }
      }

      &__content {
        background-color: $color-light-blue;
        padding: 20px;
        display:block;

        p{
          font-size: $font-size-small;
        }
      }
    }
  }
}