.site-footer {
  background-color: $executive-blue;
  padding: 25px 0px;

  &__block {
    color: #fff;
    margin-bottom: 30px;

    a {
      color: #fff;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    @include media(769px) {
      @include span-columns(4);
      margin-bottom: 0px;
    }
  }
}
