.site-header {
   background-color: $color-white;
   padding: 25px 0px;

   &__logo {
      @include span-columns(6);

      img {
         max-width: 100%;
      }
   }

   &__contact {
      @include span-columns(6);
      text-align: right;

      &-header {
         text-transform: uppercase;
         @include font-header;
         font-size: 16px;
         letter-spacing: 1px;
         display: inline;
         @include media($tablet-breakpoint){
            display:none;
         }


         a {
            color: $color-blue;
            text-decoration: none;
            font-weight: 400;

            &#larger {
               font-size: 28px;
            }
         }
      }

      &-details {
         line-height: 32px;
         font-size: 16px;
      }

      &-telephone, &-email {
         display: inline-block;
      }

      &-telephone {
         @include media($tablet-lrg-breakpoint) {
            padding-right: 34px;
         }
      }

      &-telephone-icon, &-email-icon {
         background-image: url('../images/header-sprite.png');
         display: inline-block;
         vertical-align: top;
         content: '';
         margin-right: 10px;
      }

      &-telephone-icon {
         width: 22px;
         height: 21px;
         background-position: 0px center;
      }

      &-email-icon {
         width: 25px;
         height: 21px;
         background-position: 25px center;
      }

      &-text {
         display: none;

         @include media($tablet-lrg-breakpoint) {
            display: inline;
         }
      }

      &-telephone {
         @include media($tablet-lrg-breakpoint) {
            display: inline-block;
            line-height: 12px;

            span.opening-times{
               font-size: 10px;
            }
         }
      }
   }

   &__telephone {
      display: inline-block;

      &-number {
         display: inline-block;
         vertical-align: top;
         line-height: 13px;

         span {
            font-size: 11px;
         }
      }
   }

   &__email {
      display: inline-block;
      margin-left: 25px;
      vertical-align: top;
      line-height: 15px;
   }
   
   @media(max-width:$tablet-breakpoint) {
   &__telephone, &__email, .contact-h{
      display:none;

      }
   }
   
   .contact-h {
      font-size:20px;
      }
}
