$nav-height: 47px;

.site-navigation {
  background-color: $color-blue;
  color: $color-white;

  &__main-navigation {
    margin: 0px;
    padding: 0px;

    @include media(769px) {
      display: flex;
      align-items: stretch;
      justify-content: space-between;
    }

    li {
      position: relative;
      list-style-type: none;
      flex-grow: 1;
      text-align: center;

      &.active, &:hover {
        background-color: $color-grey;
      }

      a {
        color: $color-white;
        text-decoration: none;
        font-size: 18px;
        @include font-header;
        height: 100%;
        width: 100%;

        padding: 10px 5px;
        display: inline-block;
        text-transform: uppercase;
      }

      ul {
        width: 100%;
        padding-left: 0px;

        @include media(769px) {
          display: none;
          position: absolute;
          left: 0px;
          top: 100%;
          background: rgba($color-grey, 0.9);

          li {
            border-top: 1px solid $color-white;
          }
        }
      }

      &:hover ul {
        @include media(769px) {
          display: block;
        }
      }
    }
  }

  .home {
    flex-grow: 0.5;
    width: 100%;
    height: $nav-height;
    color: $color-white;
    text-decoration: none;
    font-size: 18px;
    @include font-header;

    @include media(769px) {
      background: url('../images/home.png') center center no-repeat;
      width: 60px;

      a {
        text-indent: -9999%;
      }
    }
  }
}
