$nav-height: 47px;

.site-navigation {
  background-color: $color-blue;
  color: $color-white;

  &__main-navigation {
    margin: 0px;
    padding: 0px;

    @include media($laptop-breakpoint) {
      display: flex;
      align-items: stretch;
      justify-content: space-between;
    }

    li {
      position: relative;
      list-style-type: none;
      flex-grow: 1;
      text-align: center;

      &.active, &:hover {
        background-color: $color-grey;
      }

      a {
        color: $color-white;
        text-decoration: none;
        font-size: $font-size-x-large;
        @include font-header;
        height: 100%;
        width: 100%;

        padding: 13px 5px;
        display: inline-block;
        text-transform: uppercase;
      }

      ul {
        width: 100%;
        padding-left: 0px;

        @include media($laptop-breakpoint) {
          display: none;
          position: absolute;
          left: 0px;
          top: 100%;
          background: rgba($color-grey, 0.9);

          li {
            border-top: 1px solid $color-white;
          }
        }
      }

      &:hover ul {
          display: block;
          z-index: 10;
        
      }
    }
  }

  .home {
    float: left;
    list-style: none;
    flex-grow: 0.5;
    width: 100%;
    height: $nav-height;
    color: $color-white;
    text-decoration: none;
    font-size: $font-size-x-large;
    @include font-header;
    width: 60px;

    img {
      margin-top: 11px;
      margin-left: 15px;
    }

    a {
      text-indent: -9999%;
    }
  }

  .show-menu {
    text-decoration: none;
    text-align: center;
    display: none;
    font-size: 1.8em;
    padding: 10px 5px;
    height: 47px;
  }

  @media screen and (max-width: $laptop-breakpoint) {
    .open {
      display: block;
    }
/*Make dropdown links appear inline*/
    ul {
      position: static;
      display: none;
    }

    .inner_links {
      display: block;
      text-indent: 10px;
      background-color: $color-grey !important;
      font-size: 8px;
      text-align: left;
    }

    .inner_links li a:before {
      content: ">\0000a0\0000a0";
    }

    .inner_links li:hover {
      background-color:$color-grey;
    }
    /*Create vertical spacing*/
    li {
      margin-bottom: 1px;
      text-align: left;
    }

    li:hover {
      background-color:$color-blue;
    }
    /*Make all menu links full width*/
    ul li, li a {
      width: 100%;
    }
    /*Display 'show menu' link*/
    .show-menu {
      display:block;
      color: $color-blue;
    }

    .show-menu img {
      width: 29px;
      float: right;
      margin-top: 4px;
      cursor: pointer;
    }
  }
}
