.pagination {
  width: 100%;
  display: inline-block;
  text-align: center;
   a {
     text-decoration: none;
   }
}

#pagination-current {
  font-size: $font-size-large;
}

input {
   -webkit-appearance: none;
   border-radius: 0;
   -webkit-border-radius: 0px;
}